.fk-tattoist {
    padding: 1em;
    &__profile {
        display: flex;
        align-items: center;
        &__photo {
            width: 72px;
            height: 72px;
            overflow: hidden;
            border-radius: 50%;
            background-size: cover;
        }
        &__info {
            margin-left: 1em;
            &__name {
                color: #1C1C1C;
                font-size: 16px;
                line-height: 1.5em;
                margin: 0;
                padding: 0;
                font-weight: bold;
            }
            &__city {
                margin: 0;
                padding: 0;
                font-size: 13px;
                font-weight: normal;
            }
            &__works {
                margin-top: .5em;
                span {
                    font-size: 13px;
                    color: #1C1C1C;
                    font-weight: normal;
                    padding-right: 1em;
                }
            }
        }
    }
    &__description {
        font-size: 13px;
        color: #1C1C1C;
        font-weight: normal;
        line-height: 1.2em;
    }
    &__actions {
        display: flex;
        align-items: center;
        &__schedule {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            border: 0;
            background: #C03838;
            padding: .5em 1em;
        }
        &__chat {
            margin: 0 1em;
            &:before {
                font-size: 28px;
            }
        }
    }
}

.fk-tabs {
    margin: 1em 0 .5em 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    &__tab {
        width: 48%;
        font-size: 14px;
        font-weight: 500;
        color: #6D6D6D;
        border-bottom: 2px solid #D5D5D5;
        padding: .3em 0;
        list-style: none;
        &--active {
            color: #1C1C1C;
            border-color: #C03838;
        }
    }
}

.fk-list {
    padding: 0;
    &__item {
        height: 150px;
    }
}